<form
  action="https://buttondown.email/api/emails/embed-subscribe/franvelasco"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/franvelasco', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email"><h3>Newsletter</h3></label>
  <input class="news-field" type="email" name="email" id="bd-email" placeholder="your@mail.here">
  <input type="hidden" value="1" name="embed"></input>
  <input class="news-button" type="submit" value="->"></input>
</form>