:root {
  --c-bg: #deeeed;
  --c-text: #333;
  --c-detail: #296969;
  --c-hr: #33333310;
  --c-catpost: #33333340;
  --c-gallery: #ff7a7a;
  --c-photo: #47d781;
  --c-culture: #57affb;
  --c-music: #ffc861;
  --c-travel: #ff8fe0;
  --c-music: #ff7a7a;
  --c-photo: #47d781;
  --c-culture: #57affb;
}

.logo {
  filter: invert(1);
  opacity: .8
}