@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --c-bg: #182022;
  --c-text: white;
  --c-detail: #cff;
  --c-hr: #ffffff20;
  --c-catpost: #ffffff40;
  --f-text: "Libre Baskerville";
  --f-header: "Inter";
  --c-music: #ffb1b1;
  --c-photo: #adf5ca;
  --c-culture: #98cfff;
}

body {
  background: var(--c-bg);
  color: var(--c-text);
  margin: 5vw;
  height: 100%;
  line-height: 1.4;
  transition: .5 ease;
}

* {
  font-family: var(--f-header), sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  transition:all 0.25s linear;
}

h1 {font-size: 22px; font-weight: 400;}
h2 {font-size: 18px; font-weight: 400; opacity: .6}
h3 {font-size: 18px; font-weight: 400; opacity: .3}

p {font-family: var(--f-text) ;font-size: 18px; font-weight: 400; max-width: 700px; line-height: 1.75}

.big-text {font-size: 30px; max-width: 700px; }

a {
  text-decoration: none;
  color: var(--c-text);
}

p a {
  color: var(--c-detail);
  font-family: var(--f-text);
  font-style: italic;
}

p a:hover {
  color: var(--c-text);
}

p em, p i {
  font-family: var(--f-text);
  font-style: italic;
}

hr {
  border: 1px solid;
  border-color: var(--c-hr)
}

.separator-bottom {
  margin-bottom: 120px;
}

/* Header */
header {
  padding: 20px 0 130px 0;
}
.logo {
  height: 45px;
}

/* Blog */
.blog-info {
}
.blog-title {
 font-size: 24px;
}
.blog-date {
 text-align: right !important;
}
.blog-title-column {
 width:66.6666%;
}
.gallery p {
  padding: 50px 0;
  min-width: fit-content;
}

/* Categorías */
.categorias {
  max-width: 700px;
  padding: 0;
  list-style-type: none;
}
.categoria-post {
  font-size: 18px;
  border-bottom: .5px solid;
  border-color: var(--c-catpost);
  padding-top: 20px;
}
.categoria-post-date {
  float: right;
  font-size: 80%;
  opacity: .3;
}

/* wrapper.html grid */
.grid-container {
display: grid; 
grid-template-columns: repeat(12, 1fr); 
grid-template-rows: 1fr; 
grid-column-gap: 10px;
grid-row-gap: 10px; 
}
.left {grid-area: 1 / 1 / 2 / 5}
.right {grid-area: 1 / 6 / 2 / 13}

.left h1 {
  margin-bottom: 0;
}
.left h2 {
  margin: 0 0 25px 0;
}

/* Footer */

.footer {
  padding-top: 120px;
}
.footer-columns {
  column-count: 1;
}
.dont-break{
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}
footer ul {
  font-size: 18px;
  line-height: 1.6;
  padding: 0;
  list-style-type: none;
}
.Music {
  color: var(--c-music);
}
.Music-fx:hover::after {
  content: ' Music';
  font-size: 65%;
  color: var(--c-music);
  vertical-align: 1px;
}
.Photography {
  color: var(--c-photo);
}
.Photography-fx:hover::after {
  content: ' Photography';
  font-size: 65%;
  color: var(--c-photo);
}
.Culture {
  color: var(--c-culture);
}
.Culture-fx:hover::after {
  content: ' Culture';
  font-size: 65%;
  color: var(--c-culture);
  vertical-align: 1px;
}
.blog-title-column h1,
.blog-title-column td {
  padding: 0px;
}

/* Post images */
.gallery {
  width: 100%;
}
p img {
  width: 100%;
  margin-bottom: 16px;
}
.img-1-2 {
 width: calc(50% - 16px);
 float: left;
 padding-bottom: 16px;
}
.img-2-2 {
 width: calc(50% - 16px);
 float: right;
 padding-bottom: 16px;
}


/* Media quieries */
@media (max-width: 1024px) {
 .body {max-width: 600px !important}
 .grid-container {grid-template-columns: 1fr; grid-template-rows: 1fr;}
 .left {grid-area: 1 / 1 / 2 / 3;max-width: 700px}
 .right {grid-area: 2 / 1 / 3 / 3;}
}
@media (max-width: 780px) {
.logo {height: 35px}
h1 {font-size: 20px}
h2 {font-size: 16px}
h3, p {font-size: 14px}
.big-text {font-size: 20px; }
footer ul {font-size: 14px;}
.left, .right p {max-width: 450px}

}